/* color #6AD2F3  */
body {
	font-family: "Lato";
	margin: 0;
	padding: 0;

}

body, html {
	height: 100%;
}

/*iniciando estilo del encabezado*/
nav {
	background-color: #6AD2F3;
	color: white;
	overflow: hidden;
	font-size: 30px;
	text-align: center;
}
/* Colonado un background con opacity
sólo que se colocó a todo, averiguar como aplicarlo
sólo al background*/
#section {
	background-image: url(../assets/images/blue-bike.jpeg);
	background-size: 100%;
	height: 100%;
	opacity: 0.5;
    filter: alpha(opacity=50);
 }


/*Estilos generales para los dos cuadros*/
#section > .fixed-part, .enter-twitter {
	width: 470px;
	height: 250px;
	background-color: #FFF;
	border-radius: 5px 5px 5px 5px;
}

/*Iniciando estilo específico del cuadro con texto fijo*/
#section > .fixed-part {
	float: left;
	margin-top: 20px;
	margin-left: 90px;
}

.line-one {
	font-size: 20px;
	margin-top: 30px;
	margin-left: 30px;

}

.line-two, .line-three {
	margin-left: 30px;
	margin-top: 30px;
}

.line-four {
	color: #227bbf;
	margin-top: 60px;
	margin-left: 30px;
}

/*Iniciando estilo de la seccion donde se
escribe el twitter*/
.enter-twitter {
	float: right;
	margin-top: 20px;
	margin-right: 90px;
}

.textarea {
	width: 450px;
	height: 150px;
	margin-left: 1.5%;
}

.enter-twitter > hr {
	background-color:  #227bbf;
	width: 450px;
}

/*Estilo del boton tweet*/
.enter-twitter > a {
  	color: white;
 	display: block;
  	text-decoration: none;
  	width: 20%;
  	height: 15%;
  	background-color: #6AD2F3;
  	border-radius: 5px 5px 5px 5px;
  	text-align: center;
  	margin-top: 3%;
  	margin-left: 5%;
  	font-size: 20px;
  	padding-top: 2%;
}


